{% extends 'layout.html' %} {% block body %}
<h1>Dashboard <small> | {{session.username}}</small></h1>
<a class="btn btn-success" href="/profile"> Profile</a>
<a class="btn btn-success" href="/add_article"> Add Article</a>
<hr>
<table class="table table-striped">
    <tr>
        <th>Title</th>
        <th>Last Modified</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for article in articles %}
    <tr>

        <td>
            <a href="article/{{article.id}}">{{article.title}}</a>
        </td>
        <!--<td>{{article.body}}</td>-->
        <td>{{article.create_date}}</td>
        <!-- {% if session.username %} -->
        <td>
            <a href="/edit_article/{{article.id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        </td>
        <td>
            <a href ="/delete_article/{{article.id}}"> <i class="fa fa-trash" aria-hidden="true"></i> </a>
        </td>
        <!-- {% else %} -->
        <td><a href="article/{{article.id}}">{{article.title}}</a></td>
        <!-- {% endif %} -->
    </tr>
    {% endfor %}
</table>
{% endblock %}